* {
    box-sizing:border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin:0;
    padding:0;
}

body {
    font-family: 'Playfair Display SC', serif;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

li {
    list-style:none;
}

.header {
    width:100%;
    height:90px;
    background:linear-gradient(125deg,#af7928,#8b2525);
    opacity: 0.9;
    color:white;
    position:fixed;
    top:0;
    z-index:10;
    box-shadow:0 2px 8px 4px rgb(71, 70, 70);
}

ul {
    text-align:right;
    padding:30px;
    font-size:20px;
}

li {
    display:inline-block;
    margin-right:25px;
}

.header a {
    display:block;
    position:relative;
    color:honeydew;
    text-decoration: none;
}

.header a::before,
.header a::after {
  border-bottom: solid 2px honeydew;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

.header a:hover::after {
    width: 100%;
  }

.header a::before {
   left: 50%;
}
.header a::after {
   right: 50%;
}
.header a:hover::before,
.header a:hover::after {
  width: 50%;
}

.main {
    margin:150px 0;
}
.text {
    float:right;
    padding:90px 70px 0 0;
    color:#664412;
}

.text-title {
    font-size: 30px;
    font-weight: 1000;
    padding-bottom:21px;
}

.text p {
    font-size: 20px;
    font-weight:550;
}

.text-image {
    width:500px;
    float:left;
    margin-left:150px;
    box-shadow:8px 8px 12px #666;
}

.communication {
    text-align:left;
    padding:790px 0 0 70px;
    color:#664412;
    position: absolute;
}

.communication-title {
    font-size: 30px;
    font-weight: 1000;
    padding-bottom:21px;
}

.communication p {
    font-size: 20px;
    font-weight:550;
}

.communication-image {
    position: relative;
    width:550px;
    float:right;
    margin:350px 100px 0 0;
    box-shadow:8px 8px 12px #666;
}

.sense {
    float:right;
    padding:230px 150px 0 0;
    color:#664412;
    clear:both;
}

.sense-title {
    font-size: 30px;
    font-weight: 1000;
    padding-bottom:21px;
}

.sense p {
    font-size: 20px;
    font-weight:550;
}

.sense-image {
    width:550px;
    float:left;
    margin-left:150px;
    box-shadow:8px 8px 12px #666;
    margin-top:220px;
}

.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 2s;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

.info {
    float:right;
    margin:15px;
}
.info p,a {
    color:#664412;
    text-decoration: none;
    font-weight: bold;
}
.info a:hover {
    color:#af7928;
}